[Unit]
Description=Python Client for interacting with the server
After=network.target

[Service]
Type=simple
User=salfel
ExecStart=/usr/local/bin/cameraClient
Restart=on-inactive

[Install]
WantedBy=multi-user.target
