[Unit]
Description=Camera HLS streamer
After=network.target

[Service]
Type=simple
User=salfel
ExecStart=/usr/local/bin/streamCamHls
Restart=on-inactive

[Install]
WantedBy=multi-user.target
