package web

import "fmt"

templ Video(serverIp string) {
    @Base(true) {
        <video width="1280px" height="720px" class="video-js" controls autoplay muted preload="auto" data-setup="{}"> 
            <source src={streamUrl(serverIp)} type="application/x-mpegURL"></source>
        </video>
    }
}

func streamUrl(serverIp string) string {
    return fmt.Sprintf("http://%s:80/movie.m3u8", serverIp)
}
