package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Security Camera</title>
			<script src="/js/htmx.min.js"></script>
			<link href="/styles.css" rel="stylesheet" />
            <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
		</head>
		<body>
            @Header() 
            <div class="px-8">
                { children... }
            </div>
		</body>
	</html>
}

